.hero_section{

    background: url(/images/home_bg_01_blue.jpg)  ;
    background-position: 50% 99.9%;
        background-size: 100% auto;

  opacity: 0;
  transform: translateY(1000px);
  transition: all 2s ease-out;
  
  display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: flex-start;
 height: 100vh;
    pointer-events: auto;
}
.hero_content {
  text-align: center;
  width: 100%;
}

.logo {
  max-width: 100%;
  height: auto;
}

/* After load */
.hero_section.animate-in {
  opacity: 1;
  transform: translateY(0);
    pointer-events: auto;
}

.reviews {
  opacity: 0;
  transform: translateY(1000px);
  transition: all 2s ease-out;
}

.reviews-in {
  opacity: 1 !important;
  transform: translateY(0);
}

.hero_full_section {
  /* No special styles needed unless you want */
  /* For example, you could set width: 100% if needed */
  width: 100%;
}
.hero_section.animate-in{
  opacity: 1 !important; 
  transform: translateY(0);
}

.home_anim1{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}